= render 'shared/header'

%div{:class => "profile_page"}
    %div{:class => "profile_image"}
    
    %div{:class => "about_me"}
        %p{:class => "prof_user"}= @viewed_user.username 
        %b{:class => "loc_label"} Location: 
        %br
        %p 
            %b{:class => "prof_label"} Info
            - if @owned
                %div{:class => "edit_input_wrap"}
                    %p= best_in_place @viewed_profile, :info, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', :url => user_profile_path
            - else
                %div{:class => "input_wrap"}
                    %p= @viewed_profile.info
        %p 
            %b{:class => "prof_label"} What Motivates Me...
            - if @owned
                %div{:class => "edit_input_wrap"}
                    %p= best_in_place @viewed_profile, :motivations, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', :url => user_profile_path
            - else
                %div{:class => "input_wrap"}
                    %p= @viewed_profile.motivations
        %p 
            %b{:class => "prof_label"} My Top Community Priorities...
            - if @owned
                %div{:class => "edit_input_wrap"}
                    %p= best_in_place @viewed_profile, :priorities, :as => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel', :url => user_profile_path
            - else
                %div{:class => "input_wrap"}
                    %p= @viewed_profile.priorities
        %br
        %br
        %br
    
    //- if @owned
    //    = link_to "Edit Profile", edit_user_profile_path(@viewed_user, @viewed_profile)
    //%div{:class => "my_posts"}
    //    - @posts.each do |p|
    //       = render 'shared/indiv_post', :post => p
    //%div{:class => "my_tagged_posts"}
    //    - @posts.each do |p|
    //        = render 'shared/indiv_tagged_post', :post => p