-#  This file is app/views/comments/index.html.haml
= render 'shared/header'
%br
%br
= form_tag :action => 'create', :method => :comment do
    = label :comment, :body, "Your Comment:"
    = text_field :comment, :body
    = check_box_tag :anonymous, 0
    = label_tag :anonymous, "Anonymous"
    = submit_tag "Create"
    

- @comments.each do |c|
    = render 'shared/indiv_comment', :comment => c

- if user_signed_in?
    = link_to 'Back to Visions', post_index_path, :method => :get, :class => "submits"
    = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "logins"