<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, :class => 'sign_in_label' %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'sign_in_label' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, :class => 'sign_in' %>
      <%= f.label :remember_me, :class => 'remember' %>
    </div>
  <% end -%>
  <br />
  <br />
  <div class="actions">
    <%= f.submit "Log in", :class => 'sign_in' %>
  </div>
<% end %>
<br />

<div class="sign_in_label">
<%= render "users/shared/links" %>
</div>