-#  This file is app/views/tagged_posts/index.html.haml
%h1 Visionaria
- if user_signed_in?
    Welcome back, 
    = current_user.username
    %br
    %br
    %br
- @taggedposts.each do |p|
    %p= p.content
    %p= p.user
    Tag: 
    = link_to "#{p.tag}", tagged_posts_path(:sort_tag => p.tag)
    Category:
    = link_to "#{p.category}", tagged_posts_path(:sort_category => p.category)
    %p= p.created_at
    %br

- if !user_signed_in?
    = link_to 'Login', new_user_session_path
    = link_to 'Sign up', new_user_registration_path
- if user_signed_in?
    = link_to 'Make Post', new_post_path, :method => :get
    = link_to 'Make Tagged Post', new_tagged_post_path, :method => :get
    = link_to 'Logout', destroy_user_session_path, :method => :delete