%h2 Make New Post
//- if !user_signed_in?
//    redirect_to root
= form_tag :action => 'create', :method => :post do
    = label :post, :content, 'Your Thoughts'
    %br
    = text_area :post, :content
    %br
    
    = label :post, :category, 'Category'
    = select :post, :category, @all_categories

    = label :post, :tag, 'Sustainable UN Goal'
    = select :post, :tag, @all_un_goals
    %br
    = label :post, :public, 'Private'
    = radio_button :post, :public, false
    %br
    = submit_tag 'Submit'
    
- if user_signed_in?
    = link_to 'Back to Goals', tagged_posts_path, :method => :get, :class => "submits"
    = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "logins"