%div{:class => "sidenav", :id => "mySidenav"}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    = link_to 'Home', posts_path, :method => :get
    = link_to "Profile", profile_path(current_user), :method => :get
    = link_to 'Logout', destroy_user_session_path, :method => :delete
    
%div{:class => "header_nav_bar"}
    %ul{:class => "header_nav_links"}
        %li= link_to "SUSTAINABLE UN GOALS", tagged_posts_path, :method => :get, :class => "active"
        %li= link_to "VISIONARIAS", posts_path, :method => :get, :class => "visions"
        %div{:class => "open_nav"}
            <span onclick="openNav()">&#9776;</span>
%br
%br
%div{:class => "welcome_user"}
    - if user_signed_in?
        Welcome, 
        = current_user.username