%div{:class => "tag_post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= User.find(post.user_id).username
    %div{:class => "category" }
        Category:
        = link_to "#{post.category}", tagged_posts_path(:sort_category => post.category)
    %div{:class => "goal" }
        Sustainable UN Goal: 
        = link_to "#{post.tag}", tagged_posts_path(:sort_tag => post.tag)
    %div{:class => "timestamp" }
        %p= post.created_at.strftime("%m/%d/%Y at %l:%M%p")
    =form_tag do 
        =link_to "#{post.taggedcomments.count} Comments", tagged_post_taggedcomments_path(post)
        =toggle_like_tag_button(post,current_user)
        =post.likes.count
%br