%div{:class => "post" }
    %div{:class => "user" }
        = User.find(post.user_id).username
    %div{:class => "content" }
        %p= post.content
    %div{:class => "timestamp" }
        Posted on
        = post.created_at.strftime("%m/%d/%Y at %l:%M%p")
    //%div{:class => "social-share-button-facebook"}
    //    = social_share_button_tag("My Post")
    =form_tag do 
        = link_to "#{post.comments.count} Comments", post_comments_path(post)
        = toggle_like_button(post,current_user)
        = post.likes.count
%br
