%div{:class => "post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= post.user
    %div{:class => "timestamp" }
<<<<<<< HEAD
        %p= post.created_at
    =link_to "#{post.comments.count} Comments", post_comments_path(post)
=======
        %p= post.created_at.strftime("%m/%d/%Y at %l:%M%p")
>>>>>>> 370a07c4c9d7830ceae599c1689b5bd80ada44be
%br